<h1>Songs</h1>
<ul>
  <% songs.each(function(song){ %>
    <% var path = "#songs/" + song.id %>
    <li><a href=<%=path%> ><%= song.escape("title") %></a></li>
  <% }) %>
</ul>

<div class='new_song'>
  <button class='new_song'>Add New Song</button>
</div>
