<form class='new_song'>
  <label for='song_title'></label>
  <input id='song_title'
          name='song[title]' 
          type='text' 
          placeholder='Title'>
  <br>

  <label for='song_artist'></label>
  <input id='song_artist' name='song[artist]' type='text' placeholder='Artist'>
  <br>

  <label for='song_lyrics'></label>
  <textarea id='song_lyrics' 
            style='width: 450px;'
            name='song[lyrics]'
            rows='100' 
            placeholder='Lyrics'></textarea>

  <input class='mybtn' type='submit' class='new_song'>
  <button class='cancel mybtn'>Cancel</button>
</form>