<form class='new_song'>
  <label for='song_title'>Title</label>
  <input id='song_title' name='song[title]' type='text'>
  <br>

  <label for='song_artist'>Artist</label>
  <input id='song_artist' name='song[artist]' type='text'>
  <br>

  <label for='song_lyrics'>Lyrics</label>
  <textarea id='song_lyrics' name='song[lyrics]'></textarea>

  <input type='submit' class='new_song'>
  <button class='cancel'>Cancel</button>
</form>