<h1>lyric snippet:</h1>
<pre>
  <%= selection_text %>
</pre>
<form>
  <textarea rows='5'
            class='input-xlarge'
            name='note[annotated_text]'></textarea>

  <input type='hidden' name='note[snippet]' value="<%= selection_text %>" >
  <input type='hidden' name='note[song_id]' value='<%= song_id %>'>
  <input type='submit' class='annotate btn btn-primary'>
</form>

