<div class='noteshow'>
  <h1>Lyric snippet:</h1>
  <pre class='mypre'>
    <%= note.escape("snippet") %>
  </pre>
  <br>

  Genius Explanation:
  <p><%= note.escape("annotated_text") %></p>
  <br>

  Author:
  <p><%= scholars.get(note.escape("scholar_id")).escape("email") %></p>
</div>