<div class='noteshow'>
  <h1>Lyric snippet:</h1>
  <pre class='mypre'>
    <%= note.escape("snippet") %>
  </pre>
  <br>

  <h1>Genius Explanation:</h1>
  <pre class='mypre'>
    <%= note.escape("annotated_text") %>
  </pre>

  Author:
  <%= scholars.get(note.escape("scholar_id")).escape("email") %>
</div>