$lightPurple: #AD66D5;
$myPurple: #7109AA;
$darkPurple: #48036F;
$myYellow: #FFFF00;
$myGray: #979797;
$myBlue: #0088cc;


body {
  background-image: url('background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.mybtn {
  background-color: transparent;
  font-size: 18px;
  border: 4px solid $myBlue;
  &:hover {
    background-color: $myGray;
  }
}

.mybtn-primary {
  background-color: $myGray;
  font-size: 18px;
  /*border-left: 10px solid $myYellow;*/
  border: 3px solid $myBlue;
  &:hover {
    color: white;
  }
}

#no-radius{
  margin-bottom: 5px;
  border-radius: 0px;
  }

input[type="text"], textarea {
  border-radius: 0px;
}