.auth .username {
  display: inline-block;
  padding-top: 10px;
  color: #ffffff;
}

.form-search {
  padding-top: 3px;
  padding-right: 10px;

  input{
    height: 14px;
  }

  button{
    line-height: 14px;
  }
}

body div.main {
  .container {
      padding-top: 51px;
  }
}