.auth .username {
  display: inline-block;
  padding-top: 10px;
  color: #ffffff;
}

.form-search {
  padding-top: 3px;
  padding-right: 10px;

  input{
    height: 14px;
  }

  button{
    line-height: 14px;
  }
}

body div.main.container {
  padding-top: 50px;
}

@media (max-width: 979px) {
  body div.main.container {
    padding-top: 0px;
  }

  .navbar-fixed-top {
    margin-bottom: 0px;
  }
}

$lightPurple: #ad66d5;
$myPurple: #7109AA; 
$myYellow: #FFFF00;

.navbar-inverse .brand{
  color: black;
}

.navbar-inverse .navbar-inner {
  background-image: linear-gradient(to bottom, $lightPurple, $myPurple)
}