
$myGray: #979797;
$myBlue: #0088cc;

.auth .username {
  display: inline-block;
  padding-top: 10px;
  color: #ffffff;
}

.form-search {
  padding-top: 3px;
  padding-right: 10px;

  input{
    height: 14px;
  }

  button{
    line-height: 14px;
  }
}

body div.main.container {
  padding-top: 50px;
}

@media (max-width: 979px) {
  body div.main.container {
    padding-top: 0px;
  }

  .navbar-fixed-top {
    margin-bottom: 0px;
  }
}

.navbar-inverse .brand{
  color: white;
}

.navbar-inverse .navbar-inner {
  background-color: $myBlue;
  background-image: none;
}