// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar .navbar-inner {
  padding: 0;
}

.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}

.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}

.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  /*border-left: 1px solid rgba(255, 255, 255, .75);*/
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.muted.title {
  float: left;
}

.form-search {
  float: right;
  padding:10px;
}

.auth {
  float: right;
  padding: 10px;
}

#content {
  float: right;
  width: 55%;
}

#sideBar {
  float: left;
  width: 360px;
  position: fixed;
}