// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightPurple: #AD66D5;
$myPurple: #7109AA;
$darkPurple: #48036F;
$myYellow: #FFFF00;

.content {
/*  border: 5px solid yellow;
  background: $lightPurple;*/
  display: inline-block;
  width: 54%;
}

.sidebar {
  float: right;
  position: relative;
  width: 44%;
}

.fixed {
  position: fixed;
  top: 40px;
  width: inherit;
  max-width: 515px;
}



.song-list {
  max-width: 200px;

  ul {
    margin-left: 0;
  }

  li {
    list-style: none;
    border-bottom: 3px solid $darkPurple;

    a {
      padding: 4px;
      text-decoration: none;
      font-size: 18px;
      display: block;
      background-color: $lightPurple;
      /*background-image: linear-gradient(to bottom, $myPurple, $lightPurple);*/
      border-left: 10px solid $myYellow;
      /*&:hover {background-color: lighten($myPurple, 10%)};*/
      &:hover {background-image: linear-gradient(to bottom, $darkPurple, $myPurple)};
      color: black;
    }
  }
}

pre.mypre {
  border-radius: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  /*background-image: linear-gradient(to bottom, $myPurple, $lightPurple);*/
  background-color: $lightPurple;
  color: black;
  border: 4px solid $myYellow;
  &#lyrics::selection{
    background: $myYellow;
  }

  a {
    background-color: $myYellow;
    color: $darkPurple;
  }
}