// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightPurple: #ad66d5;
$myPurple: #7109AA; 
$myYellow: #FFFF00;

.content {
/*  border: 5px solid yellow;
  background: $lightPurple;*/
  display: inline-block;
  width: 54%;
}

.sidebar {
  float: right;
  position: relative;
  width: 44%;
}

.fixed {
  position: fixed;
  top: 40px;
  width: inherit;
  max-width: 515px;
}



.song-list {
  max-width: 200px;

  ul {
    margin-left: 0;
  }

  li {
    list-style: none;
    border-bottom: 1px solid $myYellow;

    a {
      padding: 2px;
      text-decoration: none;
      display: block;
      background-color: $myPurple;
      border-left: 10px solid $myYellow;
      &:hover {background-color: lighten($myPurple, 10%);}
      color: white;
    }
  }
}

/*body {
  background-color: $myRed;
}*/