<li class=
  <% if (active === 'home'){ %>
    <%= "active" %>
  <% } %> >
  <a href="#">Home</a>
</li>

<li class=
  <% if (active === 'about'){ %>
    <%= "active" %>
  <% } %> >
  <a href="#about">About</a>
</li>

<li class=
  <% if (active === 'contact'){ %>
    <%= "active" %>
  <% } %> >
  <a href="#contact">Contact</a>
</li>